@font-face {
    font-family: "Arita-dotum-Medium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'form';
    src: url('../fonts/from.woff2') format('woff2');
    font-weight: 400;
}